/* For responsive YouTube videos, per http://avexdesigns.com/responsive-youtube-embed/ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar-copyright {
  font-size: 12px;
}

.sidebar-socmed {
  font-size: 25px;
}

.sidebar-socmed a {
  color: #515151;
}

.sidebar-socmed a:hover {
  color: #268bd2;
}

/* Sidebar Social Media in mobile */
@media (max-width: 48em) {
  .sidebar-socmed a {
    font-size: 30px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .sidebar-socmed a:hover {
    color: #515151;
  }
}

/* Sidebar Featured */
.sidebar-featured {
  margin-bottom: 1rem;
  font-size: 1.0rem;
}
.sidebar-featured-item {
  display: block;
  line-height: 1.5rem;
}
a.sidebar-featured-item:hover,
a.sidebar-featured-item:focus {
  text-decoration: underline;
}
.sidebar-featured-item.active {
  font-weight: bold;
  color: #268bd2;
}

/* Navbar from http://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_responsive */
ul.topnav {
    list-style-type: none;
    margin-left: 24em;
    margin-top: 0em;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: .75em;
    z-index: +1;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

/* Make the active top navbar item blue. */
ul.topnav li a.active {
  background-color: #268bd2;
  color: white;
  z-index: +1;
}

ul.topnav ul.right {
    float: right;
    list-style-type: none;
}

@media screen and (max-width: 45em){
  .topnav {
    display: none;
  }
  .events-footer {
    display: block;
    background-color: black;
    margin: auto;
    width: 100%;
    border: 3px solid black;
    padding: 10px;
  }
  .events-footer img {
    width: 80%;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
  }
}

