<a href="/"><img src="/images/RayHightower_logo.svg"></a>
<p>
Tech company founder.<br/>
Commercial real estate investor.<br/>
Phoenix, Arizona, USA.<br/>
</p>
<p>Bridgetown buys commercial real estate.<br/>Business owners and high net worth individuals invest in our partnerships. Our investors enjoy capital preservation, tax advantages, and strong ROI.</p>
<a href="https://www.cashflowportal.com/offering/a026cf68deda468da97c5e69ca405c19"><img src="/images/current_offering.png" alt="Current offering: 145-unit multifamily property in Nashville, Tennessee."></a>
  