<section>
  <a href="https://bridgetownpartners.com"><img src="/images/bridgetown_partners_llc.png" alt="Bridgetown Partners, LLC. Building software for the commercial real estate industry." title="Bridgetown Partners, LLC. Building software for the commercial real estate industry." ></a>
  <a href="https://BizDay.LA"><img src="/images/BizDayLA.png" alt="BizDay.LA - An exciting event for current and aspiring business owners. Los Angeles, California, USA." title="BizDay.LA - An exciting event for current and aspiring business owners. Los Angeles, California, USA." ></a>
</section>
