<section>
  <a href="https://bridgetownpartners.com"><img src="/images/bridgetown_partners_llc.png" alt="Bridgetown Partners, LLC. Building software for the commercial real estate industry. Los Angeles, CA and Chicago, IL." title="Bridgetown Partners, LLC. Building software for the commercial real estate industry. Los Angeles, CA and Chicago, IL." ></a>
  <a href="https://BizDay.LA"><img src="/images/BizDayLA.png" alt="BizDay.LA is a YouTube channel for business enthusiasts. BizDay.LA is created in Los Angeles and connected with the world." ></a>
</section>
