<section>
  <h1>Featured Articles</h1>
  <ul>
    <li><a href="/blog/2014/07/07/parallella-quick-start-guide-with-gotchas/">Parallella Quick Start Guide</a></li>
    <li><a href="/blog/2014/06/16/citizen-science-with-openrov/">Citizen Science With OpenROV</a></li>
    <li><a href="/blog/2014/01/02/beaglebone-black-ubuntu-part-1/">Ruby on BeagleBone Black</a></li>
    <li><a href="/blog/2012/12/03/ruby-on-raspberry-pi/">Ruby on Raspberry Pi</a></li>
    <li><a href="/blog/2014/04/12/recursion-and-memoization/">Recursion and Memoization</a></li>
    <li><a href="/blog/2014/05/30/how-to-grow-a-user-group/">How to Grow a User Group</a></li>
    <li><a href="/blog/2013/05/16/upgrading-ruby-with-rvm/">Upgrading Ruby With RVM</a></li>
  </ul>
</section>
