<div class="masthead">
  <p class="masthead-title">This is the Masthead Title</p>
  <p class="masthead-title small">Smaller, subtitle for the masthead.</p>
  <p>This is only a test. The template did not include a sample masthead.</p>
  <p>This is only a test. The template did not include a sample masthead.</p>
  <p>This is only a test. The template did not include a sample masthead.</p>
  <p>This is only a test. The template did not include a sample masthead.</p>
  <p>This is only a test. The template did not include a sample masthead.</p>
</div>
