<ul class="topnav">
<li><a class="sidebar-nav-item{% if page.url == "/archive/" %} active{% endif %}" href="/archive/">Archive</a></li>
<li><a class="sidebar-nav-item{% if page.url == "/tags/" %} active{% endif %}" href="/tags/">Categories</a></li>
<li><a class="sidebar-nav-item{% if page.url == "/speaking/" %} active{% endif %}" href="/speaking/">Speaking</a></li>
<li><a class="sidebar-nav-item{% if page.url == "/if-rudyard-kipling/" %} active{% endif %}" href="/if-rudyard-kipling/">If</a></li>
<li><a class="sidebar-nav-item{% if page.url == "/about/" %} active{% endif %}" href="/about/">About</a></li>
<li><a class="sidebar-nav-item{% if page.url == "/contact/" %} active{% endif %}" href="/contact/">Contact</a></li>
<li><a class="sidebar-nav-item{% if page.url == "/search/" %} active{% endif %}" href="/search/">Search</a></li>
</ul>
