<a class="sidebar-nav-item{% if page.url == "/search/index.html" %} active{% endif %}" href="/search/">Search</a>
<a class="sidebar-nav-item{% if page.url == "/about/index.html" %} active{% endif %}" href="/about/">About</a>
<a class="sidebar-nav-item{% if page.url == "/speaking/index.html" %} active{% endif %}" href="/speaking/">Speaking</a>
<a class="sidebar-nav-item{% if page.url == "/if-rudyard-kipling/index.html" %} active{% endif %}" href="/if-rudyard-kipling/">If</a>
<a class="sidebar-nav-item{% if page.url == "/contact/index.html" %} active{% endif %}" href="/contact/">Contact</a>
