<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/search/index.html">Search</a>
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/about/index.html/">About</a>
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/speaking/">Speaking</a>
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/if-rudyard-kipling/">If</a>
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/contact/">Contact</a>
