<section>
  <h4>Observations</h4>
  <ul>
    <li>Find a need and fulfill it. Successful businesses are founded on the needs of people.<br/>~A. G. Gaston</li>
    <li>It's kind of fun to do the impossible.<br/>~Walt Disney</li>
    <li>A person with a new idea is a crank until the idea succeeds.<br/> ~Mark Twain</li>
    <li>The best way to make dreams come true is to wake up.<br/> ~Mae C. Jemison</li>
    <li>Everybody told me no at first, including my wife. I turned the
    nos into yeses and the disadvantages into advantages.<br/>~John H.
    Johnson</li>
    <li>I would have been fired a hundred times at a company run by
    MBAs. But I never went into business to make money. I went... so
    that I could do interesting things that hadn't been done
    before.<br/>~Amar Bose</li>
  </ul>
</section>

