<div class="sidebar">
  <div class="container"> <!-- remove sidebar-sticky to make room for more info -->
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <div class="sidebar-about">
      {% include about.html %}
    </div>

    <div class="sidebar-copyright">
      <p style="font-size: 12px">&copy; {{ site.time | date: '%Y' }} Raymond T. Hightower. All rights reserved.</p>
    </div>
  </div>
</div>
