<!-- <div class="sticky" data-sticky data-anchor="content"> -->
{% include about.html %}
{% include observations.html %}
{% include categories.html %}
{% include featured.html %}
{% include speaking.html %}
{% include vim.html %}

    <hr style="color:#111; background-color:#330000; margin-right:10; text-align:right; width:80%;">

    <div class="sidebar-featured">
      {% include featured.html %}
    </div>

    <hr style="color:#111; background-color:#330000; margin-right:10; text-align:right; width:80%;">

    <nav class="sidebar-nav">
      {% include navigation.html %}
    </nav>

