<div class="sidebar">
  <div class="container"> <!-- remove sidebar-sticky to make room for more info -->
    <div class="sidebar-about">
      {% include about.html %}
    </div>

    <div class="sidebar-events">
      {% include events.html %}
    </div>

    <div class="sidebar-featured">
      {% include featured.html %}
    </div>

    <nav class="sidebar-nav">
      {% include navigation.html %}
    </nav>

    <div class="sidebar-socmed">
      {% include socmed.html %}
    </div>

    <div class="sidebar-observations">
      {% include observations.html %}
    </div>

    <div class="sidebar-vim">
      {% include vim.html %}
    </div>

  </div>

</div>
