<div class="sidebar">
  <div class="container"> <!-- remove sidebar-sticky to make room for more info -->
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <div class="sidebar-about">
      {% include about.html %}
    </div>

    <div class="sidebar-featured">
      {% include featured.html %}
    </div>

    <nav class="sidebar-nav">
      {% include navigation.html %}
    </nav>
  </div>
</div>
