<div class="sidebar-socmed">
<a href="https://linkedin.com/in/rayhightower"><i class="fab fa-linkedin"></i></a>
<a href="https://twitter.com/rayhightower"><i class="fab fa-x-twitter"></i></a>
<a href="https://facebook.com/RayHightower"><i class="fab fa-facebook"></i></a>
<a href="https://youtube.com/RayHightower"><i class="fab fa-youtube"></i></a>
<a href="https://instagram.com/RayHightower"><i class="fab fa-instagram"></i></a>
<a href="https://github.com/rayhightower"><i class="fab fa-github"></i></a>
</div>