<a href="https://twitter.com/rayhightower"><i class="fa fa-twitter-square fa-lg"></i></a>
<a href="https://github.com/rayhightower"><i class="fa fa-github-square fa-lg"></i></a>
<a href="https://linkedin.com/in/rayhightower"><i class="fa fa-linkedin-square fa-lg"></i></a>
<a href="https://facebook.com/RayHightower"><i class="fa fa-facebook-square fa-lg"></i></a>
<br/>
<a href="https://youtube.com/RayHightower"><i class="fa fa-youtube-square fa-lg"></i></a>
<a href="https://instagram.com/RayHightower"><i class="fa fa-instagram fa-lg"></i></a>
