<a href="https://windycitythings.com"><img src="/images/windycitythings-iot-conference.png" alt="WindyCityThings - IoT conference in Chicago, IL, USA. Windy City Things." title="WindyCityThings - IoT conference in Chicago, IL, USA. Windy City Things." width="150" align="right" style="margin-left:10px;"></a>

### WindyCityThings: IoT in June 2016

Are you exploring the [Internet of Things](https://windycitythings.com)? Then you might like the [WindyCityThings IoT conference](http://windycitythings.com). Get the maximum return for the time you invest. Move forward on your next IoT project with confidence. Tickets are on sale now.