<a href="http://windycitythings.com"><img src="/images/windycitythings-iot-conference.png" alt="WindyCityThings - IoT conference in Chicago, IL, USA. Windy City Things." title="WindyCityThings - IoT conference in Chicago, IL, USA. Windy City Things." width="150" align="right" style="margin-left:10px;"></a>

### IoT Call for Proposals: WindyCityThings

Are you exploring the [Internet of Things](http://windycitythings.com)? Then you might like the [WindyCityThings IoT conference](http://windycitythings.com). The [call for proposals](https://wisdomgroup.wufoo.com/forms/windycitythings-2016-exhibit-speaking-proposals/) ends on April 15, 2016. Tickets are on sale now.


