<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    {{ content }}

    <footer class="site-footer">
      <div class="footer-socmed">
        <a href="https://x.com/rayhightower"><i class="fab fa-square-x-twitter"></i></a>
        <a href="https://linkedin.com/in/rayhightower"><i class="fab fa-square-linkedin"></i></a>
        <a href="https://youtube.com/@ROIClear"><i class="fab fa-square-youtube"></i></a>
        <a href="https://github.com/rayhightower"><i class="fab fa-square-github"></i></a>
      </div>
      <p>Copyright &copy; 2026 <a href="/">RayHightower.com</a></p>
    </footer>

    {% include events_footer.html %}

  </body>
</html>